body {
   background-image: url("https://images.pexels.com/photos/17485710/pexels-photo-17485710/free-photo-of-an-artist-s-illustration-of-artificial-intelligence-ai-this-image-visualises-the-input-and-output-of-neural-networks-and-how-ai-systems-perceive-data-it-was-created-by-rose-pilkington.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

.btn-custom {
    background: linear-gradient(90deg, #ff5f6d, #ffc371);
    border: none;
}